<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Practice UI" parallel="methods"
	thread-count="2">
	<test name="Regression">
		<classes>
			<class name="testrunner.Runner" />
			<!-- <class name="testrunner.FailedScenarios" />      To run the failing scenarios --> 
			<class name="testngtests.TestngClass1">
			</class>
				<parameter name="testparam" value="TEST PARAM" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->